<div>
    <h1>Listado de tareas</h1>
    <hr class="border border-primary border-1 opacity-50">
    <div class="mt-2 mb-2"><h3>Formulario</h3></div>
  
    <div class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label  class="visually-hidden" for="inputmensaje">Mensaje</label>
            <input id="inputmensaje" class="form-control" type="text" value="" [(ngModel)]="mensaje" >
        </div>
        <div class="col-auto">
            <label  class="visually-hidden" for="inputfecha">Fecha finalización</label>
            <input id="inputfecha" class="form-control" type="date" value="" [(ngModel)]="fecha" >
        </div>
        <div class="col-auto">
            <label  class="visually-hidden" for="inputGrado">Grado Importancia</label>
            <input id="inputGrado" class="form-control" type="number" value="" [(ngModel)]="gradoimportancia" >
        </div>
        <div class="mt-2 mb-2 input-group-append">
            <button class="btn btn-primary" (click)="crearTarea()" >crear tarea</button>
        </div>
    </div>
</div>

<hr class="border border-primary border-1 opacity-50">
<div class="list-group">
    <h2>Tareas no completadas</h2>
    <app-todo class="list-group-item" *ngFor="let tarea of tareas" [tarea] = "tarea" (tareaOutPut)="recibirTareaCompletada($event)"></app-todo>
</div>

<div class="list-group">
    <h2>Tareas completadas</h2>
    <app-todo class="list-group-item" *ngFor="let tarea of completadas" [tarea] = "tarea" (tareaOutPut)="recibirTareaCompletada($event)"></app-todo>
</div>